@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

#App {
    /*height: 50vh;*/
    /*width: fit-content;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*overflow: hidden;*/
}

#Title {
    background-color: rgba(61, 9, 121, 1);
    background-image: linear-gradient(180deg, rgba(209, 0, 255, 1) 25%, rgba(0, 254, 255, 1) 75%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 4rem;
}

#SubTitle {
    color: #eee;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 2rem;
}

form {
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#URLInput {
    height: 2rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 0.5rem;
    /*flex: 1;*/
}
#URLInput:focus {
    outline: none;
    border: 1px solid #111;
}

#ShortenButton {
    height: 3rem;
    padding: 0 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: #111;
    color: #fff;
}

#ShortenedURLCopy{
    margin-top: 1.5rem;
    color: #ddd;
    text-decoration: #ddd underline dotted;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    cursor: pointer;
    font-size: 1.2rem;
}